{% extends 'base.html.twig' %}

{% block title %}Add Category Form{% endblock %}

{% block body %}
    <h1>Ajouter une catégorie</h1>
    <div class="container d-flex flex-column ml-0 pl-0">
        <div>
            {{ message }}
        </div>
        <div class="form">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-danger ml-50">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}