{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <h2 class="mt-0">{{ season.description }}</h2>
            <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
            <p>{{ episode.synopsis }}</p>
            {% for comment in comments %}
                <h3>Commentaires et notes :</h3>
                <p>{{ comment.comment }} {{ comment.rate }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        {% if app.user %}
        <h3>Add a comment</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {% endif %}
    </div>

    <a href="{{ path('wild_program_season', {'id' : season.id}) }}">
        Retour à la {{ season.description }}
    </a>

{% endblock %}
