{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>{{ 'program'|trans }}</h1>
    <div class="container d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button type="submit" name="btnSearch">{{ 'search'|trans }}</button>
        {{ form_end(form) }}
    </div>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - {{ 'category'|trans }} : {{ program.category.name }}</h2>
            <a href="{{ path('wild_program', {'slug' : program.slug}) }}">{{ 'program'|trans }}</a>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        {{ 'program.none'|trans }}
    {% endfor %}
    <a href="{{ path('app_index') }}">
        {{ 'homepage'|trans }}
    </a>
{% endblock %}
