{% extends 'base.html.twig' %}

{% block title %}{{ 'actor'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'actor'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>{{ 'actor.name'|trans }}</th>
                <td>{{ actor.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">{{ 'actor.list'|trans }}</a>

    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'edit'|trans }}</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
